.content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}
.content-image {
  margin-right: 5px;
  background-color: black;
  opacity: 0.8;
}
.content-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
.content-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 20%;
}
